.containerHeader, .header{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: space-between;
    background: #0b72a1;
    text-align: center;

}
.header{
    width: 80%;
}
.menukiri,.menutengah,.menukanan{
    margin: 10px 20px;
    padding: 10;
    box-sizing: border-box;
}
.menukiri{
    flex: 1;
    width: 50px;
    /* background: #97daf7; */
    height: 30px;
}
.menutengah{
    display: flex;
    justify-content: space-between;
    flex: 3;
}
.menukanan{
    flex: 1;
    background: #97daf7;
    height: 20px;


}
.daftarmenu{
    margin: 0 20px;
    background: #97daf7;
    width: 20%;
    height: 20px;
}
.logo{
    padding: 10px;
}
.burgermenu{
    display: none;
    flex: 1;
    /* text-align: right; */
    /* width: 50%; */
    /* background: pink; */
    height: 20px;
    justify-content:flex-end;
    align-items: flex-end;    
}
.lineburger{
    width: 25px;
    height: 5px;
    margin-bottom: 3px;
    background: #97daf7;
}
@media screen and (max-width:800px){
    .menutengah{
        display: none;
    }
    .menukanan{
        display: none;
    }
    .burgermenu{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        color: #97daf7;
        font-size: 25px;
    }
    .menuList{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 20vw;
        height: fit-content;
        background: #0b72a1;
        top:50px;
        margin-right: 10%;
        right: 0;
        justify-content: center;
        overflow: visible;
        text-align: center;

    }
    .menuList a{
        padding: 10px;
        font-size: 20px;
        text-decoration: none;
        color: #003263;
    }
    .menuList a:hover{
        background:  #003263;
        color: #f3cc55;
    }
}